<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-10 text-center-mobile">
					<h3 class="white">En cas de problème, veuillez contacter l'Assistance Technique :</h3>
					<h5 class="light regular light-white">assistance.technique@perfautom.fr</h5>
				</div>
			<div class="row bottom-footer text-center-mobile">
				<div class="col-sm-8">
					<p>&copy; 2019 - Perf'Autom - Version 1.0</p>
				</div>
				<div class="col-sm-4 text-right text-center-mobile">

				</div>
			</div>
		</div>
	</footer>
